<table class="table">	
	<tr>
		<td>{{str "LBL_LAST_LOGIN_COUNT_DAY"}}</td>
		<td></td>
		<td><h3>{{this.count_day}}</h3></td>
	</tr>
	<tr>
		<td>{{str "LBL_LAST_LOGIN_COUNT_WEEK"}}</td>
		<td></td>
		<td><h3>{{this.count_week}}</h3></td>
	</tr>
	<tr>
		<td>{{str "LBL_LAST_LOGIN_COUNT_MONTH"}}</td>
		<td></td>
		<td><h3>{{this.count_month}}</h3></td>
	</tr>
	<tr>
		<td>{{str "LBL_LAST_LOGIN_COUNT_YEAR"}}</td>
		<td></td>
		<td><h3>{{this.count_year}}</h3></td>
	</tr>
</table>
